[core]
	excludesfile = /Users/diego/.gitignore_global
[user]
	email = diegobit@icloud.com
	name = Diego Giorgini
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
