.config/karabiner/*backups/
.config/karabiner/assets/complex_modifications/
**.add
**.spl
**.sug
.*api_key*
.config/colima/_lima/
.config/.colima/**
.config/!.colima/
.config/!.colima/*/
.config/!.colima/*/colima.yaml
.config/.lima/
